<ion-header>
  <ion-toolbar color="fondo-claro-duoc">
    <p style="text-align: center;">
      <img src="assets/icon/duoc.png" style="background-color: azure; border-radius: 10px; padding: 0px 20px 5px 20px; width: 90%;"  >
    </p>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo-oscuro-duoc">

  <ion-card color="fondo-claro-duoc">
    <ion-img src="assets/icon/Logo Te Llevo App.png" class="ion-padding"></ion-img>
    
    <ion-button color="fondo-oscuro-duoc" [routerLink]="['/login']" > ¡Viajemos! </ion-button>
  </ion-card>
  

</ion-content>

<ion-footer color="fondo-oscuro-duoc">
  <ion-grid color="fondo-oscuro-duoc">
    <ion-row class="ion-justify-content-center" color="fondo-oscuro-duoc">

      <ion-col color="fondo-oscuro-duoc" size="auto"> 
        <ion-icon name="logo-facebook" color="facebook" class="ion-padding"  size="large"></ion-icon>
      </ion-col>
      <ion-col color="fondo-oscuro-duoc" size="auto"> 
        <ion-icon name="logo-google" color="google" class="ion-padding" size="large"></ion-icon>
     </ion-col>
      <ion-col color="fondo-oscuro-duoc" size="auto"> 
        <ion-icon name="logo-whatsapp" color="whatsapp" class="ion-padding" size="large"></ion-icon>
     </ion-col>
      <ion-col color="fondo-oscuro-duoc" size="auto"> 
        <ion-icon name="logo-twitter" color="twitter" class="ion-padding" size="large"></ion-icon>
     </ion-col>
     
    </ion-row>
  </ion-grid>
</ion-footer>
