<ion-split-pane contentId="main-content" color="fondo-oscuro-duoc">
  <ion-menu menuId="custom-menu" contentId="main-content" type="overlay" color="fondo-oscuro-duoc">
    
    <ion-content color="fondo-oscuro-duoc">
      <ion-list class="ion-text-center main-header" color="fondo-oscuro-duoc">
        <div align="center" color="fondo-oscuro-duoc">
          <ion-avatar>
            <br>
            <img src="assets/icon/gatoo.jpg" alt="">
          </ion-avatar>
          <ion-label color="fondo-oscuro-duoc">
            <p>
              <br>
              <ion-text color="fondo-oscuro-duoc"> 
                <h2>
                  Usuario
                </h2>
            </ion-text>
            </p>
          </ion-label>
        </div>
      </ion-list>
      
      <br><br>

      <ion-menu-toggle [routerLink]="['/homeconductor']">
        <ion-item color="fondo-claro-duoc" class="ion-padding" detail lines="none">
          <ion-icon slot="start" name="car"></ion-icon>
          <h3>Conductor</h3>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle [routerLink]="['/home']" >
        <ion-item color="fondo-claro-duoc" class="ion-padding" detail lines="none">
          <ion-icon slot="start" name="person"></ion-icon>
          <h3>Pasajero</h3>
        </ion-item>
      </ion-menu-toggle>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      
      <p style="text-align: center;">
        <img src="assets/icon/duoc.png" alt="">
      </p>

    
  </ion-content >
  
  
 
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>