<ion-split-pane contentId="main-content">
  <ion-menu menuId="custom-menu" contentId="main-content" type="overlay">
    
    <ion-content>
      <ion-list class="ion-text-center main-header">
        <div align="center">
          <ion-avatar>
            <br>
            <img src="assets/icon/gatoo.jpg" alt="">
          </ion-avatar>
          <ion-label>
            <p>
              <br>
              <ion-text> <h2>
                Usuario
              </h2>
            </ion-text>
            </p>
          </ion-label>
        </div>
      </ion-list>
      
      <br><br>
      <ion-button color="dark" [routerLink]="['/homeconductor']">
        Conductor
      </ion-button>
      <ion-button color="dark" [routerLink]="['/home']">
        Pasajero
      </ion-button>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      
      <p style="text-align: center;">
        <img src="assets/icon/duoc.png" alt="">
      </p>

    
  </ion-content >
  
  
 
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>