<ion-header>
  <ion-toolbar color="fondo-claro-duoc">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Conductores Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="fondo-claro-duoc">
    <ion-card-title style="margin: 20px 0px 5px 20px;">BYD F0</ion-card-title>
    <ion-card-title style="margin: 5px 0px 5px 20px; color: white">Kenita Larrain</ion-card-title>
    <ion-card-title style="margin: 5px 0px 5px 20px; color: rgb(25, 120, 25);">$3.000</ion-card-title>
    <ion-card-content>
      <ion-img src="../../assets/icon/nave.jpg"></ion-img>      
    </ion-card-content>
    <ion-item color="success">
      <ion-buttons slot="start">
        <ion-button style="font-size: x-large; color: white;">
          <ion-icon slot="start" name="checkmark-circle" size="large"></ion-icon>Comenzar Viaje</ion-button>
      </ion-buttons>      
    </ion-item>
  </ion-card>

  <ion-card color="fondo-claro-duoc">
    <ion-card-title style="margin: 20px 0px 5px 20px;">Mitsubishi Lancer</ion-card-title>
    <ion-card-title style="margin: 5px 0px 5px 20px; color: white">Kenita Larrain</ion-card-title>
    <ion-card-title style="margin: 5px 0px 5px 20px; color: rgb(25, 120, 25);">$4.000</ion-card-title>
    <ion-card-content>
      <ion-img src="../../assets/icon/lancer.jpg"></ion-img>      
    </ion-card-content>
    <ion-item color="success">
      <ion-buttons slot="start">
        <ion-button style="font-size: x-large; color: white;">
          <ion-icon slot="start" name="checkmark-circle" size="large"></ion-icon>Comenzar Viaje</ion-button>
      </ion-buttons>      
    </ion-item>
  </ion-card>

  <ion-card color="fondo-claro-duoc">
    <ion-card-title style="margin: 20px 0px 5px 20px;">Nissan Silvia</ion-card-title>
    <ion-card-title style="margin: 5px 0px 5px 20px; color: white">Kenita Larrain</ion-card-title>
    <ion-card-title style="margin: 5px 0px 5px 20px; color: rgb(25, 120, 25);">$2.500</ion-card-title>
    <ion-card-content>
      <ion-img src="../../assets/icon/silvia.jpg"></ion-img>      
    </ion-card-content>
    <ion-item color="success">
      <ion-buttons slot="start">
        <ion-button style="font-size: x-large; color: white;">
          <ion-icon slot="start" name="checkmark-circle" size="large"></ion-icon>Comenzar Viaje</ion-button>
      </ion-buttons>      
    </ion-item>
  </ion-card>

  <ion-card color="fondo-claro-duoc">
    <ion-card-title style="margin: 20px 0px 5px 20px;">Toyota GT86</ion-card-title>
    <ion-card-title style="margin: 5px 0px 5px 20px; color: white">Kenita Larrain</ion-card-title>
    <ion-card-title style="margin: 5px 0px 5px 20px; color: rgb(25, 120, 25);">$5.000</ion-card-title>
    <ion-card-content>
      <ion-img src="../../assets/icon/gt86.jpg"></ion-img>      
    </ion-card-content>
    <ion-item color="success">
      <ion-buttons slot="start">
        <ion-button style="font-size: x-large; color: white;">
          <ion-icon slot="start" name="checkmark-circle" size="large"></ion-icon>Comenzar Viaje</ion-button>
      </ion-buttons>      
    </ion-item>
  </ion-card>
  
</ion-content>
