<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Transporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Vehiculos Disponibles</h1>
  <ion-card >
    <img src="assets/icon/spark.jpg" />
    <ion-card-header color="dark">
      <ion-button [routerLink]="['/pago']">
        <ion-card-title>Chevrolet Spark</ion-card-title>
      </ion-button>
        <ion-card-subtitle>Emilio Torres</ion-card-subtitle>
        <ion-card-subtitle>Afiliado DuocUc</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        
      </ion-card-content>
  </ion-card>
  <ion-card >
    <img src="assets/icon/nisa.jpeg" />
    <ion-card-header color="dark">
      <ion-button [routerLink]="['/pago']">
        <ion-card-title>Nissan Sentra</ion-card-title>
      </ion-button>
        <ion-card-subtitle>Juan Ojeda</ion-card-subtitle>
        <ion-card-subtitle>Afiliado DuocUc</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        
      </ion-card-content>
  </ion-card>
  <ion-card >
    <img src="assets/icon/swift.jpg" />
    <ion-card-header color="dark">
      <ion-button [routerLink]="['/pago']">
        <ion-card-title>Suzuki Swift</ion-card-title>
      </ion-button>
        <ion-card-subtitle>Carlos Rojas</ion-card-subtitle>
        <ion-card-subtitle>Afiliado DuocUc</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        
      </ion-card-content>
  </ion-card>
  <ion-card >
    <img src="assets/icon/bal.jpg" />
    <ion-card-header color="dark">
      <ion-button [routerLink]="['/pago']">
        <ion-card-title>Suzuki Baleno</ion-card-title>
      </ion-button>
        <ion-card-subtitle>Luis Rivera</ion-card-subtitle>
        <ion-card-subtitle>Afiliado DuocUc</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        
      </ion-card-content>
  </ion-card>
  <ion-card >
    <img src="assets/icon/chev.jpg" />
    <ion-card-header color="dark">
      <ion-button [routerLink]="['/pago']">
        <ion-card-title>Chevrolet Sail</ion-card-title>
      </ion-button>
        <ion-card-subtitle>Sebastian Mansilla</ion-card-subtitle>
        <ion-card-subtitle>Afiliado DuocUc</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        
      </ion-card-content>
  </ion-card>
</ion-content>
